.blog {
    background-color: #FFF;
    margin: 15px 0px;
}

.blog .blog-content {
    padding: 20px 20px 40px;
}

.blog .blog-meta {
    margin-bottom: 20px;
}

.blog .blog-meta li {
    display: inline-block;
    font-size: 14px;
    color: #10161A;
    margin-right: 10px;
}

.blog .blog-meta li i {
    color: #6195FF;
    margin-right: 5px;
}

#main .blog .blog-content {
  padding: 20px 0px 0px;
}

#main .blog {
  margin-top: 0px;
}


/* -- Formulário -- */
.reply-form {
    margin: 40px 0px;
}

.reply-form form .input {
    margin-bottom:20px;
}

.reply-form form .input {
    width: calc(50% - 10px);
    display: inline-block;
}

.reply-form form #nome, .reply-form form #email, .reply-form form .endereco #logradouro  {
    width: calc(100% - 10px);
    display: inline-block;
}

.reply-form form .input:nth-child(2) {
    margin-left: 15px;
}

#telefones .main-btn {
    padding: 5px 15px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 20px;
}