<!DOCTYPE html>
<html>
<body>
    <div ng-app="App" ng-controller="AppController">
        <a ng-click="add();">Add</a>
        <br>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="row in rows">
                    <td><input type="text" class="form-control" placeholder="Nome" ng-model="row.name"></td>
                    <td><input type="text" class="form-control" placeholder="Idade" ng-model="row.age"></td>
                    <td><a href="javascript:;" class="fa fa-remove" ng-click="remove(row);">x</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script>
    var app = angular.module("App", []);
    app.controller("AppController", function($scope) {
        $scope.rows = [];
        $scope.add = function() {
            $scope.rows.push({name:"", age:""});
        };
        
        $scope.remove = function(row) {
            var index = $scope.rows.indexOf(row);
            $scope.rows.splice(index, 1);
        };
    });
    </script>
</body>
</html>